<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar" style="display: block">
        <a href="#starks-panel" class="mdl-tabs__tab is-active">Info</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="starks-panel">
        {{ course_data.content }}
    </div>

</div>